extends layout

block content
    .inner
        table
            thead
                tr
                    th Name
                    th Email
                    th License
                    th Address
                    th
            tbody    
                each item in accounts
                    tr
                        td #{item.firstname} #{item.lastname}
                        td= item.email
                        td= item.license
                        td #{item.streetnumber} #{item.streetname} #{item.city} #{item.state} #{item.zipcode}
                        td
                            a(href=`/admin/accounts/${item._id}/edit`) Edit / Update