extends layout

block content
    .single__product
        h3 #{product.name}
        p #{product.description}
        div THC: #{product.thc}%
        div CBD: #{product.cbd}% 
        div Price: $#{product.price}          
