mixin customerForm(customer = {})
    form(action=`/admin/customers/add/${customer._id || ''}` method='POST')
        label(for='firstname') First Name
        input(type='text' name='firstname' value=customer.firstname placeholder='Jon')
        label(for='lastname') Last Name
        input(type='text' name='lastname' value=customer.lastname placeholder='Doe')
        label(for='streetnumber') Street Number
        input(type='text' name='streetnumber' value=customer.streetnumber placeholder='112...')
        label(for='streetname') Street Name
        input(type='text' name='streetname' value=customer.streetname placeholder='SE 14th Street...')
        label(for='city') City 
        input(type='text' name='city' value=customer.city placeholder='Ashland...')
        label(for='state') State
        input(type='text' name='state' value=customer.state placeholder='OR..')
        label(for='zipcode') Zipcode 
        input(type='text' name='zipcode' value=customer.zipcode placeholder='97520...')
        label(for='email') Email
        input(type='text' name='email' value=customer.email)
        label(for='license') 14 Digit Oregon License number
        input(type='text' name='license' value=customer.license placeholder='0201001234bb99...')
        input(type='submit' value='Save')
        if customer._id
            a(href="javascript: history.go(-1)")
                button(type='button') Go Back